.login{
    text-decoration: none;
    font-weight: 500;
    color: #8b8989;
}

.login:hover{
    color: black;
}

.nav{
    border: 1px solid #ccc;
    display: flex;
    text-align: center;
}
.nav .sub-nav{

    /* width: 100px; */
}
.nav .sub-nav:hover{
    font-weight: 500;
}

.main{
    margin-top: 20px;
}
.login {
    border: none;
}

.search-icon {
    cursor: pointer;
    margin-right: 10px;
}

.search-box {
    display: none;
    margin-right: 10px;
}

.search-box input {
    /* padding: 10px; */
    margin-right: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.search-box button {
    border: none;
    background-color: white;
}


